html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*-----FIM RESET-------*/

#secaoTodasAsTorres {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.secaoTorres {
        margin-top: 80px; /*---teste---*/
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        box-sizing: border-box;
        border: 1px solid indianred;
}
.desenhoTorre {
    height: 150px;
    display: flex;
    flex-direction: column-reverse; 
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.haste {
    width: 15px;
    height: 100px;
    background-color: black;
    position: absolute;
    bottom: 0px;
    z-index: -1;
}
#discoteste {
    width: 60px;
    height: 15px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: indianred;
}
#discoteste2 {
    width: 80px;
    height: 15px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgb(92, 205, 143);
}
#discoteste3 {
    width: 40px;
    height: 15px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgb(92, 173, 205);
}
.tituloTorre {
    padding: 15px 0;
}