.caixa__selecao {
  width: 150px;
  height: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  border: 2px double rgba(219, 219, 219, 0.5); 
}
.discosTorre--um {
  width: 40px;
  background-color: rgba(219, 219, 219, 0.5);
}
.discosTorre--dois{
  width: 60px;
  background-color: rgba(219, 219, 219, 0.5);
}
.discosTorre--tres{
  width: 80px;
  background-color: rgba(219, 219, 219, 0.5);
}
.discosTorre--quatro{
  width: 100px;
  background-color: rgba(219, 219, 219, 0.5);
}

#secaoTorres {
  width: 100vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.torre__area {
  margin: 7px 15px; /*---teste---*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: rgba(219, 219, 219, 0.5);
}
.torre__area__pilha {
  height: 150px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.haste {
  width: 15px;
  height: 100px;
  background-color: black;
  position: absolute;
  bottom: 0px;
  z-index: -1;
  border-radius: 3px;
}
.discosTorre {
  height: 15px;
  border-radius: 5px;
  border: 1px solid gray;
}
#disco1 {
  width: 40px;
  background-color: indianred;
}
#disco2 {
  width: 60px;
  background-color: rgb(92, 205, 143);
}
#disco3 {
  width: 80px;
  background-color: rgb(92, 173, 205);
}
#disco4 {
  width: 100px;
  background-color: rgb(224, 216, 100);
}

.torre__area__titulo {
  padding: 15px 0;
}

@media (min-width: 769px) {

#secaoTorres {
  width: 100vw;
  display: flex;
  flex-direction: row;

}
.torre__area {
  margin: 7px 15px; /*---teste---*/
  width: 200px;
  height: 200px;
  
}