html,
body,
main,
section {
  font-family: "Raleway", "Helvetica", sans-serif;
}

:root {
  --gray-color: rgba(219, 219, 219, 0.5);
  --black-color: #000000;
  --pink-pastel-color: indianred;
  --light-green-color: rgb(92, 205, 143);
  --light-blue-color: rgb(92, 173, 205);
  --yellow-color: rgb(224, 216, 100);
}

body{
  background-image: url(/src/imgs/background.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto;
  background-color: #590202;
}
.hidden {
  display: none;
}

.show {
  display: block;
}

/* INSTRUCOES */
.instrucoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 80%;
  padding: 15px;
  margin: 0 auto;
  background: var(--pink-pastel-color);
  border: 3px solid var(--light-blue-color);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.instrucoes__titulo{
  color: white;
  font-size: 25px;
  font-weight: bold;
}
 .instrucoes__paragrafo {
  color: white;
  text-align: start;
  line-height: 20px;
  margin: 10px 0;
  
}

.instrucoes__entrada, .instrucoes__select {
  margin-top: 10px;
}

.instrucoes__select {
  width: 35%;
  cursor: pointer;
}

.instrucoes__botao {
  width: 40%;
  padding: 5px;
  background: var(--light-blue-color);
  margin-left: 155px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* CONDICAO DE VITORIA */

.caixa-de-vitoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    width: 80%;
    padding: 15px;
    margin: 0 auto;
    background: var(--pink-pastel-color);
    color: var(--yellow-color);
    border: 3px solid var(--yellow-color);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* SPAN DE ALERTA */

span{
  color: var(--pink-pastel-color);
  background-color: white;
  border-radius: 3px;
  border: 2px solid var(--pink-pastel-color);
  padding: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

header{
  display: flex;
  justify-content: center;
}

#caixa__selecao {
  margin-top: 10vh;
  width: 150px;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px double rgba(219, 219, 219, 0.5);
  background-color: #F29C50 ;
}


#caixa__selecao .discosTorre {
  width:80px;
  filter:opacity(50%);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  
}
#disco1Selecao, #disco2Selecao, #disco3Selecao, #disco4Selecao, #disco5Selecao, #disco6Selecao {
  filter: opacity(100%);
}

#caixa__selecao .discosTorre img{
  width: 100%;
}
#secaoTorres {
  max-width: 100vw;
  margin-top: 42vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.torre__area {
  margin: 7px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #F29C50;
  box-shadow: 4px 4px 0px 3px rgba(187,110,45,1) inset;
  border: 4px solid rgb(221, 151, 94);
  border-style: outset;
}

.torre__area__pilha {
  height: 150px;
 
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}


#disco1 img{
  width: 100px;
  filter:opacity(100%);
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);

}

#disco2 img{
  width: 100px;
  filter:opacity(100%);
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translateX(-50%);

}

#disco3 img{
  width: 100px;
  filter:opacity(100%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);

}

#disco4 img{
  width: 100px;
  filter:opacity(100%);
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translateX(-50%);

}

#disco5 img{
  width: 100px;
  filter:opacity(100%);
  position: absolute;
  left: 50%;
  top: 58%;
  transform: translateX(-50%);

}

#disco6 img{
  width: 100px;
  filter:opacity(100%);
  position: absolute;
  left: 50%;
  top: 64%;
  transform: translateX(-50%);


}

.torre__area__titulo {
  padding: 15px 0;
  font-size: 16px;
  font-weight: bold;
  color: #590202;
}

#msg {
  text-align: center;
  margin: 15px;
}

@media (min-width: 769px) {
  #secaoTorres {
    flex-direction: row;
    justify-content: center;
  }

  .torre__area {
    margin: 7px 15px;
    width: 200px;
    height: 200px;
  }
}
